$globalFontSize: 1;

$body-font-stack:  'Exo', sans-serif;

$desktop: "all and (min-width:768px) and (orientation:landscape)";

$m-body-color: #fff;
$m-heading-color: #fff;
$m-link-color: darken(#4fb76c, 25%);

$d-body-color: #4fb76c;
$d-heading-color: #4fb76c;
$d-link-color: darken(#4fb76c, 25%);

$accent-color: #4fb76c;
$alternate-color: #90919b;
$dark-text: #032706;
$shadow-color: #333;
$dark-border: darken($shadow-color, 20%);

$m-base-padding: 20px;
$base-padding: 10px;

@import "bourbon/bourbon";
@import "mixins";
