.content {
  @include box-sizing(border-box);
  padding: 10px 20px;
  background: rgba(#fff, 0.8);
  overflow: hidden;
  height: 100%;
  color: #222;

  .map {
    float: right;
  }

  p {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0 ;
    }
  }

  h4 {
    margin: 10px 0 8px 0;
  }
}

.sponsors {
  text-align: center;
}