.swiper-slide {
  @include transition(all 400ms ease-in);
  @include box-sizing(border-box);
  @include background-size(cover);
  position: relative;
  background: rgba(#fff,0.5);
  padding: 60px 0 20px;
  width: 500px;
  height: $contentHeight;
  color: #222;
  font-family: $content-font-stack;
  &.subscribe {
    background: url(../img/scenery/chatting.jpg) no-repeat center center;
  }
  &.gallery {
    background: url(../img/scenery/joshtalk.jpg) no-repeat center center;
    .content{
      padding: 10px;
    }
  }
  &.about {
    background: url(../img/scenery/masnitalk.jpg) no-repeat center center;
  }
  &.contact {
    background: url(../img/scenery/intro.jpg) no-repeat center center;
  }
  &.sponsors {
    background: url(../img/scenery/crowd.jpg) no-repeat center center;
  }
}